.desktop-block  > .desktop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.desktop > .desktop-panel {
    width: calc(100% - var(--width-left-menu));
    height: calc(100% - var(--height-header)) - 10px;
    margin-top: var(--height-header);
    margin-left: var(--width-left-menu);
    padding-top: 10px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.desktop-panel > div {
    width: 100%;
    height: 100%;
}
.desktop-panel > div > .folder-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.folder-block > .folder, .explorer-folder-block .folder{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px 10px;
    border-radius: 10px;
    order: -1;
}
.folder-block > .title{
    font-size: 15px;
    font-weight: 200;
    padding: 4px 5px;
    border-radius: 5px;
}

.desktop > .visual-draggable-block { 
    /* Это общий стиль для всплывашек по типу терминал, проводника и т.п. */
    width: 50%;
    height: 50%;

    position: absolute;
    border-radius: 10px 5px;
    box-shadow: 4px 4px 8px #00000073;
}

.desktop > .terminal-block {
    top: 20%;
    left: 40%;
    font-family: 'Ubuntu Mono', monospace;
}
.terminal-block > .terminal-header-block {
    width: 100%;
    height: 32px;
    background-color: #222;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.terminal-header-block > span {
    font-size: 14px;
}
.terminal-header-block > .action-button-block {
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.action-button-block > .-button {
    cursor: pointer;
    font-size: 10px;
    width: 18px;
    height: 18px;
    background-color: #363636;
    border-radius: 50%;
    align-content: center;
}

.terminal-block > .terminal-textarea {
    background-color: var(--background-terminal-color);
    width: 100%;
    height: calc(100% - 32px);
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    overflow: auto;
    border-radius: 0 0 5px 5px;
}
.terminal-textarea > p {
    margin: 0;
    padding: 5px;
}
.terminal-textarea > p.command-ls{
    margin-left: 10px;
}

.desktop > .explorer-block {
    top: 10%;
    left: 10%;
    outline: 2px solid #3b3b3bcc;
    outline-offset: -2px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}
.explorer-block > .explorer-blocks {
    width: 100%;
    height: 100%;
    display: flex;
}
.explorer-block > .explorer-header-block {
    position: absolute;
    padding: 6px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.explorer-header-block .explorer-header-title {
    font-size: 14px;
    font-weight: 500;
}
.explorer-header-block > .explorer-header-title:nth-child(1) {
    margin-left: 9%;
}
.explorer-header-block > .header-title-block {
    background-color: #343434;
    width: 30%;
    padding: 6px 5px 10px 10px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
}
.explorer-header-block > .header-title-block > svg {
    width: 15px;
    height: 15px;
    padding-right: 8px;
}
.explorer-header-block > .header-title-block > svg path{
    fill: var(--white);
}
.explorer-header-block > .action-button-block {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-right: 15px;
}

.explorer-blocks > .explorer-left-block{
    width: 200px;
    background-color: #303030;
    border-radius: 10px 0 0 10px;
    padding: 0 5px;
    position: relative;
}
.explorer-left-block > div:nth-child(1) {
    display: flex;
    height: calc(100% - 45px);
    flex-direction: column;
    margin-top: 45px;
}
.explorer-left-block > div > .explorer-left-link-folder {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.explorer-left-block > div > .explorer-left-link-folder svg {
    height: 18px;
    width: 18px;
    padding-right: 15px;
}
.explorer-left-block > div > .explorer-left-link-folder svg  path {
    fill: var(--white);
}

.explorer-blocks > .explorer-right-block{
    width: calc(100% - 200px);
    background-color: #1e1e1e;
    border-radius: 0 10px 10px 0;
}
.explorer-right-block > .explorer-list-files{
    height: calc(100% - 45px);
    width: 100%;
    margin-top: 45px;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 25%;
    overflow: auto;
}
.explorer-list-files > .explorer-folder-block {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    position: relative;
}
.explorer-folder-block > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.explorer-folder-block > a::before {
    content: "";
    font-size: 9px;
    padding: 9px 5px;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: 0;
    transform: rotate(-15deg);
}
.explorer-folder-block > a[type="new"]::before {
    content: "new";
    background-color: #1d611af0;
}
.explorer-folder-block > a[type="coming soon"]::before {
    content: "soon";
    background-color: #1a5061f0;
}
.explorer-folder-block > a[type="old"]::before {
    content: "old";
    background-color: #612e1af0;
    padding: 9px 8px;
}
.explorer-folder-block .title {
    font-size: 13px;
    font-weight: 200;
    padding: 4px 0;
}

.header-pagination{
    margin-left: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.header-pagination > .header-pag-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 0 10px;
}
.header-pagination > .header-pag-button > svg > path {
    fill: #373737;
}
.header-pagination > .header-pag-button.active > svg > path{
    fill: var(--white);
}

.empty-folder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5a5a5a;
}
.empty-folder > svg {
    width: 25%;
    height: 25%;
}
.empty-folder > svg > path {
    fill: #5a5a5a;
}

.txt-folder {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    height: calc(100% - 45px);
    width: calc(100% - 30px);
    margin-top: 45px;
    padding: 0 15px;
    overflow: auto;
    line-height: 25px;
}
.txt-folder > hr {
    border-color: var(--dark-light);
}
.txt-folder > p > a {
    color: #1f7fd3;
}
.txt-folder > p > a > img{
    /* width: 60px; */
    height: 60px;
    padding: 0 5px;
    filter: drop-shadow(2px 0 0 var(--white)) drop-shadow(-2px 0 0 var(--white)) drop-shadow(0 2px 0 var(--white)) drop-shadow(0 -2px 0 var(--white))
}

/* Виды папок */
.folder-default {
    background: url('../images/icons_ubuntu/256x256/places/folder.png');
}
.folder-user-home {
    background: url('../images/icons_ubuntu/256x256/places/user-home.png');
}
.folder-document {
    background: url('../images/icons_ubuntu/256x256/places/folder-documents.png');
}
.folder-download {
    background: url('../images/icons_ubuntu/256x256/places/folder-download.png');
}
.folder-user-trash {
    background: url('../images/icons_ubuntu/256x256/places/user-trash.png');
}
.folder-paste-image {
    background: url('../images/icons_ubuntu/256x256/places/folder-paste-image.png');
}
.folder-bot {
    background: url('../images/icons_ubuntu/256x256/places/folder-bot.png');
}
.folder-bot-private {
    background: url('../images/icons_ubuntu/256x256/places/folder-bot-private.png');
}
.folder-text {
    background: url('../images/icons_ubuntu/256x256/apps/text-folder.png');
    filter: invert(1)
}



/* Цвета в терминале */
.terminal-textarea span.terminal-green {
    font-weight: 600;
    color: var(--terminal-green);
}
.terminal-textarea span.terminal-blue {
    font-weight: 600;
    color: var(--terminal-blue);
}

/* Скроллбар для терминала */
.terminal-textarea::-webkit-scrollbar {
    width: 11px;
}
  
.terminal-textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a6a7a9;
    border: 3px solid var(--background-terminal-color);
}
.terminal-textarea::-webkit-scrollbar-thumb:hover {
    background-color: #c7c9cc;
}

/* Скроллбар для проводника */
.explorer-list-files::-webkit-scrollbar, .txt-folder::-webkit-scrollbar {
    width: 15px;
}
.explorer-list-files::-webkit-scrollbar-thumb, .txt-folder::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a6a7a9;
    border: 6px solid #1e1e1e;
}
.explorer-list-files::-webkit-scrollbar-track, .txt-folder::-webkit-scrollbar-track{
    background-color: #1e1e1e;
}
.explorer-list-files::-webkit-scrollbar-thumb:hover, .txt-folder::-webkit-scrollbar-thumb:hover {
    border-width: 5px;
    background-color: #c7c9cc;
}


/* Hovers */
.folder-block > .folder:hover {
    cursor: pointer;
    background-color: var(--hover-desktop-folder);
}
.folder-block > .folder:hover + .title {
    background-color: var(--hover-desktop-folder);
}
.folder-block > .title:hover{
    cursor: pointer;
    background-color: var(--hover-desktop-folder);
}
.folder-block > .title:hover ~ .folder {
    background-color: var(--hover-desktop-folder);
}
.action-button-block > .-button:hover {
    background-color: #444444;
}
.explorer-left-link-folder:hover{
    background-color: #444444;
}
.explorer-folder-block:hover {
    background-color: var(--hover-desktop-folder);
}

/* Active */
.folder-block:active .folder{
    background-color: var(--marker-desktop-folder);
}
.folder-block:hover:active .title {
    background-color: var(--marker-desktop-folder);
}
.explorer-left-block .explorer-left-link-folder:active:hover {
    background-color: #515151;
}
.explorer-folder-block:active:hover {
    background-color: var(--marker-desktop-folder);
}